h1 {
    text-align: center;
}
.card {
    background-color: #fff;
    color: #222;
    padding: 3.5em 1em;
    border-radius: 0.6em;
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width: 1024px) {
    #container {
        padding: 1em;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 2em 1em;
        text-align: center;
    }
    .card {
        padding: 5em 1em;
    }
    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
    }
}
